{% extends 'urlshort/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>

    {% block content %}

    <div class="container">
        <div id="short-alert">
            <h1 class="result-container" >Your short url is: BASE_URL/{{ short_url }}</h1>
        </div>
        <form action="{% url 'urlshort:create' %}">
            <button id="back-button">Back</button>
        </form>
    </div>
    
    <script>
        function setBaseURL() {
           const element = document.querySelector('.result-container');

           // overwriting inner string
           element.innerHTML = element.innerHTML.replace('BASE_URL', window?.location.host);
       };
       setBaseURL();
   </script>
    
    {% endblock content %}
    
</body>

</html>